<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.kaylves.test.mybatis.mapper" level="DEBUG"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org.springframework.jdbc.datasource.init" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
